body 
{
	font-size: 16px;
}

#feedAvisos
{
	margin: 0;
	padding: 0;
	width: 100%;
}

#feedSection
{
	margin: 0;
	padding: 0;
	width: 100%;
}

#pie-pagina
{
	text-align: center;
}

#pie-pagina a 
{
	margin: 0.2em 1em;
}

.no-encontrado
{
	color: #f00;
	font-family: Helvetica, Arial;
	font-weight: bold;
	padding: 1em 0;
	text-shadow: rgba(200,200,200,0.5) 3px 3px 10px;
}
.rssBody
{
	width: 100%;
}

.rssBody ul, .rssRow
{
	margin-left: 0;
	padding-left: 0;
	list-style: none;
	width: 100%;
}

.ui-content
{
	margin: 0;
	padding: 0;
}